$fontWeightBold: 700;
$fontWeightSemiBold: 600;
$fontWeightRegular: 400;
$fontSize1: 36px;
$fontSize2: 26px;
$fontSize3: 20px;
$fontSize4: 18px;
$colorFont: #0d3030;
$colorH2: rgb(182, 190, 182);
$bckColorForm: rgb(89, 96, 89);
$bckColorBookList: rgb(147, 154, 147);